@import "font-variables";
@import "mixin";

html,
body {
  height: 100%;
  min-height: 100%;
  letter-spacing: 0;
  font: $font-regular 100% $font-family-ubuntu;
}

b,
strong {
  font-weight: $font-bold;
}

h1 {
  @include heading(
    $font-light,
    $font-size-32,
    $font-height-40,
    $font-spacing-1
  );
}
h2 {
  @include heading(
    $font-light,
    $font-size-24,
    $font-height-32,
    $font-spacing-1
  );
}
h3 {
  @include heading(
    $font-medium,
    $font-size-21,
    $font-height-32,
    $font-spacing-1
  );
}
h4 {
  @include heading(
    $font-regular,
    $font-size-19,
    $font-height-32,
    $font-spacing-12
  );
}
h5 {
  @include heading(
    $font-medium,
    $font-size-16,
    $font-height-22,
    $font-spacing-12
  );
}
